body{
	// overflow:hidden;
}
.screen{
	border:1px solid black;

	.paddle{
		background-color:$paddle;
		border:1px solid black;
		box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5),
		-1px -1px 1px 1px rgba(0, 0, 0, .5);
		border-radius:5px;
	}
}